/* 
Brand Colors
Base - #247188
Accent - #f0745d
Semi neutral - #f7fdfc 
Neutral - white
Shadow - #a7bec7
 */

body {
  font-family: 'Spartan', sans-serif;
  margin: 0;
  /* color: black; */
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

main {
  padding-left: 210px;
  background-color: #f7fdfc;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

h1, h2 {
  letter-spacing: -1.2px;
  font-weight: 400;
  color: #247188;
}

a {
  text-decoration: 0;
}

.section-inner-div img {
  width: 100px;
}

p {
  margin: 0;
}

hr {
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom-width: 2px;
  color: #247188;
}

.intro {
  background: url(../src/images/nasa.jpg);
  background-size: 130%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.intro h1 {
  color: white;
  font-size: 3em;
  margin: 0;
}

.intro-text {
  text-shadow: 2px 3px 3px #383a3a;
  padding: 40px;
}

.dark-background-text {
  background: #c25440;
  line-height: 10vh;
  padding: 10px 12px 3px;
}

.underline-text {
  border-bottom: 5px solid #c25440;
}

.about-section {
  align-items: center;
  display: flex;
}

.line-div {
  width: 4px;
  height: 10vh;
  background-color: #c25440;
}

.about {
  width: 90%;
  margin: 0 auto auto 30px;
  line-height: 30px;
}

.about h2 {
  color: #c25440;
}

.about-desc {
  margin-top: 2vh;
  font-size: 1.2em;
  line-height: 40px;
}

.section-headers {
  display: flex;
  align-items: center;
  margin: 15px;
  border-bottom: 1px solid #d7d9da;
}

.section-inner-div .section-headers {
  margin: 20px;
}

.section-headers div {
  width: fit-content;
  padding: 10px;
  margin-right: 2vw;
  margin-left: 1.5vw;
}

.section-headers .company-img {
  padding: 30px 10px;
}

.inline-block {
  margin-right: 3vw;
  margin-left: 15px;
  display: inline-block;
  width: fit-content;
  max-width: 300px;
}

.hidden-div {
  display: none;
}

.image-background {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 170px;
}

.projects-div {
  position: relative;
  min-width: 250px;
  max-width: 370px;
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
  overflow: hidden;
}

.projects-inner-div {
  position: relative;
  height: 410px;
}

.reveal-div {
  width: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  align-items: center;
}

.date-div .button, .contact-icons {
  margin: auto 10px;
  display: inline-block;
  background: #c25440;
  color: white;
  justify-content: flex-start;
  font-family: 'spartan';
  border: none;
  border-radius: 50px;
  height: 60px;
  width: 60px;
}

.open-link {
  position: absolute;
  margin: 18px;
}

.close {
  margin: 0;
}

.inner-reveal-div {
  padding: 25px;
}

.reveal-div .date-div {
  position: relative;
  bottom: 0px;
}

.inner-reveal-div h2 {
  margin: 0px 5px;
}

#reveal-ul {
  padding: 0 20px 0 30px;
}

.side-bar {
  z-index: 2;
  padding: 0;
  height: 100%;
  width: 210px;
  background-color: white;
  position: fixed;
  top: -1px;
  color: #247188;
  box-shadow: 0.2px 1px 7px #a7bec7;
}

.side-bar h1 {
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 7px;
}

.side-bar p {
  font-size: small;
  font-weight: 300;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}

.side-bar li {
  padding: 10px 35px;
  list-style: none;
  font-weight: 400;
}

.side-bar a {
  text-decoration: none;
  color: inherit;
}

.side-bar ul {
  padding: 0;
  margin: 0;
  color: black;
}

.side-bar-title {
  background: #f7fdfc;
  padding: 25px 30px;
  max-width: 160px;
  border-bottom: 1px solid #c8d8df;
}

.side-bar-title p {
  font-weight: 500;
  color: #c25440;
}

.list-icon {
  position: relative;
  top: 6px;
  right: 10px;
  color: #247188;
}

.nav-bar {
  width: 100%;
  z-index: 1;
  background-color: white;
  position: fixed;
  top: 0;
  display: none;
  padding: 9px 0px;
  align-items: center;
  box-shadow: 0.2px 1px 7px #718992;
}

.nav-title {
  width: 100%;
  text-align: center;
  margin: auto;
}

.nav-bar h1 {
  margin: 5px auto;
  font-size: 20px;
  font-weight: 500;
}

.nav-bar p {
  color: #c25440;
  font-size: 15px;
}

.mobile-side-div {
  width: 190px;
  position: relative;
}

.burger-icon {
  position: relative;
  top: 11px;
  left: 21px;
  float: left;
  color: #247188;
  font-size: 27px;
}

.burger-icon-div {
  position: absolute;
}

main h1 {
  margin: 0;
}

.section {
  padding: 50px 40px;
}

.section-inner-div {
  background-color: white;
  margin-bottom: 50px;
  box-shadow: 0.2px 1px 7px #a7bec7;
}

.education-header {
  padding: 30px 0px 25px;
  border-bottom: 1px solid #a7bec7;
  margin: 40px;
}

.education-details {
  padding: 0 30px 25px;
}

.section-inner-div ul {
  padding: 0 20px 0 50px;
}

.experience li {
  font-size: 90%;
  line-height: 30px;
}

.section-title {
  padding: 30px;
  background-color: #247188;
}

.section-title h1 {
  color: #f7fdfc;
  font-weight: 100;
}

.date-div {
  background-color: #f7fdfc;
  padding: 20px;
  font-size: small;
  color: #627881;
}

.section-inner-div p, li {
  font-size: small;
  font-weight: 500;
  line-height: 35px;
}

.role-1 {
  display: none;
  font-weight: 600;
}

.role {
  font-weight: 600;
  display: inline-block;
}

.pad-div {
  padding: 20px;
}

.pad-div h1 {
  margin-bottom: 20px;
}

.skill-name-div {
  vertical-align: middle;
  text-align: center;
}

.contacts div {
  margin: 50px 5px;
}

.contacts a {
  text-decoration: none;
  color: #247188;
}

.contacts-div a{
  align-items: center;
}

.contacts-div a{
  position: relative;
}

.contact-details{
  bottom: 21px;
  left: 10px;
}

/* Hover Effects */

a li:hover {
  transition: all 0.3s;
  background-color: #cde4ec;
}

.date-div .button:hover, .contact-icons:hover {
  box-shadow: 1px 1px 30px 5px #d4cccb;
}

.contacts div a:hover {
  transition: all 3s;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.certifications-desc h4 {
  font-weight: 400;
  margin: 30px 10px;
}

/* Active Effects */

a li:active {
  background-color: #a2bec7;
}

/* Responsiveness */

/* @media (max-width:321px) {
  .company-name h2, .role-1 {
    font-size: 2vw;
  }
} */

@media (max-width:420px) {
  .line-div {
    height: 45vh;
  }
  .company-name h2, .role-1 {
    font-size: 4vw;
  }
  .inner-reveal-div h2 {
    font-size: 5vw;
  }
  /* .nav-bar h1 {
    font-size: 4vw;
  }
  .nav-bar p{
    font-size: 3vw;
  }
  .burger-icon{
    font-size: 5.5vw;
  } */
}

@media (max-width:850px) {
  .line-div {
    height: 30vh;
  }
}

@media (max-width:900px) {
  .role-1 {
    display: inline-block;
    position: relative;
    bottom: -21px;
    left: 40px;
    margin-bottom: 25px;
  }
  .role {
    display: none;
  }
}

@media (max-width:1150px) {
  .intro {
    background-size: 145%;
  }
}

@media (max-width:790px) {
  .intro {
    background-size: 250%;
  }
}

@media (max-width:692px) {
  .intro {
    background-size: 300%;
  }
}

@media (max-width:528px) {
  .intro {
    background-size: 360%;
  }
}

@media (max-width:1000px) {
  html {
    scroll-padding-top: 70px;
  }
  .side-bar {
    display: none;
  }
  main {
    margin-top: 70px;
    padding-left: 0;
  }
  .nav-bar {
    display: block;
    z-index: 1;
  }
  .mobile-side-div {
    margin-bottom: 50px;
    width: 200px;
    transition: left ease-in-out 0.3s;
  }
  .side-bar {
    box-shadow: none;
  }
  .line-div {
    height: 20vh;
  }
}