/* 
Brand Colors
Base - #247188
Accent - #f0745d
Semi neutral - #f7fdfc 
Neutral - white
Shadow - #a7bec7
 */

body {
  font-family: 'Spartan', sans-serif;
  margin: 0;
  color: black;
}

main {
  padding-left: 210px;
  background-color: #f7fdfc;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

h1, h2 {
  letter-spacing: -1.2px;
  font-weight: 400;
  color: #247188;
}

img {
  width: 100px;
}

p {
  margin: 0;
}

hr {
  border-right: 0;
  border-left: 0;
  border-top: 0;
  border-bottom-width: 2px;
  color: #247188;
}

.experience-headers {
  border-bottom: 1px solid #a7bec7;
}

.experience-headers div {
  padding: 10px;
  margin-right: 20px;
  margin-left: 15px;
  display: inline-block;
}

.inline-block {
  margin-right: 50px;
  margin-left: 15px;
  display: inline-block;
  width: fit-content;
  max-width: 300px;
}

.hidden-div {
  display: none;
}

.image-background {
  background-repeat: no-repeat;
  background-size: 100%;
  height: 170px;
}

.projects-div {
  padding-left: 0;
  padding-right: 0;
}

.side-bar {
  z-index: 2;
  padding: 0;
  height: 100%;
  /* max-width: 140px; */
  background-color: white;
  position: fixed;
  color: #247188;
  box-shadow: 0.2px 1px 7px #a7bec7;
}

.side-bar h1 {
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 7px;
}

.side-bar p {
  font-size: small;
  font-weight: 300;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}

.side-bar li {
  padding: 10px 35px;
  list-style: none;
}

.side-bar a {
  text-decoration: none;
  color: inherit;
}

.side-bar ul {
  padding: 0;
  margin: 0;
}

.side-bar-title {
  padding: 25px 30px;
  max-width: 160px;
  border-bottom: 1px solid #a7bec7;
}

.nav-bar {
  width: 100%;
  z-index: 1;
  background-color: white;
  position: fixed;
  top: 0;
  display: none;
  padding: 9px;
  align-items: center;
  box-shadow: 0.2px 1px 7px #718992;
}

.nav-title {
  padding-left: 4%;
  margin-right: 35%;
  width: 100%;
  text-align: center;
}

.nav-bar h1 {
  margin: 5px auto;
  font-size: 20px;
  font-weight: 500;
}

.nav-bar p {
  font-size: 15px;
}

.burger-icon {
  position: relative;
  top: 11px;
  left: 11px;
  float: left;
  color: #247188;
  font-size: 27px;
}

.burger-icon-div {
  position: relative;
  align-self: flex-start;
}

main h1 {
  margin: 0;
}

.section {
  padding: 50px 40px;
}

.section-inner-div {
  background-color: white;
  padding: 10px 10px;
  margin-bottom: 50px;
  box-shadow: 0.2px 1px 7px #a7bec7;
}

.experience li {
  font-size: 90%;
  line-height: 30px;
}

.section-title {
  padding: 30px;
  /* background-color: #247188; */
  background-color: #247188;
}

.section-title h1 {
  color: #f7fdfc;
  font-weight: 100;
}

.date-div {
  background-color: #f7fdfc;
  padding: 20px;
  font-size: small;
  color: #627881;
}

.section-inner-div p, li {
  font-size: small;
  font-weight: 500;
  line-height: 35px;
}

.role {
  display: inline-block;
  position: relative;
  bottom: 54px;
  left: 480px;
}

/* Hover Effects */

a li:hover {
  background-color: #cde4ec;
}

/* Responsiveness */

@media (max-width:1120px) {
  .role {
    display: relative;
    bottom: -21px;
    left: 26px;
    margin-bottom: 15px;
  }
}

@media (max-width:1000px) {
  .side-bar {
    display: none;
  }
  main {
    padding-left: 0;
  }
  .nav-bar {
    display: block;
  }
  .mobile-side-div {
    width: 140px;
    display: none;
  }
}